<!DOCTYPE html>
<html lang="en"
      th:replace="~{default :: layout(~{:: head/content()}, ~{:: body/content()})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebCheckpoint - Waffle</title>
    <link rel="stylesheet"
          th:href="@{/Stylesheets/Core.css}">
</head>
<body>
<div class="u_ai-c u_d-f u_jc-sb u_mt-2.0">
    <div>
        <div class="u_ai-c u_d-f">
            <h1>WebCheckpoint</h1>
            <span class="c_icon +dot u_ml-0.6"
                  th:if="${webCheckpoint.isReady()}"></span>
            <span class="c_icon +progress u_ml-0.6"
                  th:if="${webCheckpoint.isStarted()}"></span>
            <span class="c_icon +check u_ml-0.6"
                  th:if="${webCheckpoint.isCompleted()}"></span>
            <span class="c_icon +x u_ml-0.6"
                  th:if="${webCheckpoint.isFailed()}"></span>
        </div>
        <span class="u_fs-0.9"
              th:text="${webCheckpoint.id}"></span>
    </div>
    <a class="c_button"
       th:href="@{/WebCheckpoint/{id}/Output(id=${webCheckpoint.id})}"
       th:if="${webCheckpoint.isCompleted()}">Download</a>
    <span aria-disabled="true"
          class="c_button"
          th:unless="${webCheckpoint.isCompleted()}">Download</span>
</div>
<div class="c_pane u_mt-1.6 u_w-50.0%">
    <div class="c_unit">
        <div class="c_unit_subject">
            <span class="c_unit_label">WebFlow</span>
            <span class="c_unit_text">
                <a th:href="@{/WebFlow/{id}(id=${webCheckpoint.flow.id})}"
                   th:text="${webCheckpoint.flow.id}"></a>
            </span>
        </div>
    </div>
</div>
<div class="c_pane u_mt-1.6 u_w-50.0%"
     th:each="snapshot : ${webCheckpoint.snapshots}">
    <div class="c_unit">
        <div class="c_unit_subject">
            <span class="c_unit_label">URL</span>
            <span class="c_unit_text">
                <a rel="nofollow noopener noreferrer"
                   target="_blank"
                   th:href="${snapshot.resource}"
                   th:text="${snapshot.resource}"></a>
            </span>
        </div>
        <div class="c_unit_attribute">
            <span class="c_unit_label">Window Width (px)</span>
            <span class="c_unit_text"
                  th:text="${snapshot.widthPx}"></span>
        </div>
        <div class="c_unit_attribute">
            <span class="c_unit_label">Window Height (px)</span>
            <span class="c_unit_text"
                  th:text="${snapshot.heightPx}"></span>
        </div>
    </div>
</div>
<div class="u_mt-4.0">
    <h2>Regression tests</h2>
</div>
<div class="c_pane u_mt-1.6 u_w-50.0%"
     th:each="reg : ${regs}">
    <div class="c_unit">
        <div class="c_unit_subject">
            <span class="c_unit_label">ID</span>
            <span class="c_unit_text u_ai-c u_d-f">
                <a th:href="@{/WebReg/{id}(id=${reg.id})}"
                   th:text="${reg.id}"></a>
                <span class="c_icon +dot u_ml-0.5"
                      th:if="${reg.isReady()}"></span>
                <span class="c_icon +progress u_ml-0.5"
                      th:if="${reg.isStarted()}"></span>
                <span class="c_icon +check u_ml-0.5"
                      th:if="${reg.isCompleted()}"></span>
                <span class="c_icon +x u_ml-0.5"
                      th:if="${reg.isFailed()}"></span>
            </span>
        </div>
        <div class="c_unit_attribute"
             th:if="${reg.startedDate} != null">
            <span class="c_unit_label">Started Date</span>
            <span class="c_unit_text"
                  th:text="${#temporals.format(reg.startedDate)}"></span>
        </div>
        <div class="c_unit_attribute"
             th:if="${reg.completedDate} != null">
            <span class="c_unit_label">Completed Date</span>
            <span class="c_unit_text"
                  th:text="${#temporals.format(reg.completedDate)}"></span>
        </div>
        <div class="c_unit_attribute"
             th:if="${reg.failedDate} != null">
            <span class="c_unit_label">Failed Date</span>
            <span class="c_unit_text"
                  th:text="${#temporals.format(reg.failedDate)}"></span>
        </div>
    </div>
</div>
</body>
</html>
