* {
    box-sizing: border-box;
}

body {
    color: #3e2723;
    font-family: "Segoe UI", "SegoeUI", "Yu Gothic UI", "Meiryo UI", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    margin: 0;
}

body::after {
    background: linear-gradient(to bottom right, transparent, #fff8e1);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.c_Main {
    margin: 1rem auto;
    max-width: 102rem;
    padding: 0 1rem;
}

.c_Nav {
    background: #3e2723;
    color: #fff8e1;
}

.c_Nav_Header {
    font-size: 1.5rem;
    margin: 0 auto;
    max-width: 102rem;
    padding: 0.5rem 1rem;
}
