<!DOCTYPE html>
<html lang="en"
      th:replace="~{default :: layout(~{:: meta}, ~{:: title}, ~{:: 'th:block'})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebReg - Waffle</title>
</head>
<body>
<th:block>
    <div class="u_ai-c u_d-f u_jc-sb">
        <h1>WebReg</h1>
        <div class="u_ai-c u_d-f u_jc-sb">
            <div class="u_pr-1"
                 th:if="${webReg.isReady()}">
                <span class="c_Status +Ready"></span> Ready
            </div>
            <div class="u_pr-1"
                 th:if="${webReg.isStarted()}">
                <span class="c_Status +Started"></span> Started
            </div>
            <div class="u_pr-1"
                 th:if="${webReg.isCompleted()}">
                <span class="c_Status +Completed"></span> Completed
            </div>
            <div class="u_pr-1"
                 th:if="${webReg.isFailed()}">
                <span class="c_Status +Failed"></span> Failed
            </div>
            <div class="u_pr-1"
                 th:if="${webReg.isCompleted()}">
                <a class="c_Button"
                   th:href="@{/WebReg/{id}/Output(id=${webReg.id})}">Download</a>
            </div>
            <div class="u_pr-1"
                 th:unless="${webReg.isCompleted()}">
                <span class="c_Button +Disabled">Download</span>
            </div>
        </div>
    </div>
    <div class="c_Table u_mb-0.4">
        <table>
            <colgroup>
                <col style="width: 25%;">
                <col style="width: 12.5%;">
                <col style="width: 12.5%;">
                <col style="width: 25%;">
                <col style="width: 12.5%;">
                <col style="width: 12.5%;">
            </colgroup>
            <thead>
            <tr>
                <th colspan="3">Expected</th>
                <th colspan="3">Actual</th>
            </tr>
            <tr>
                <th>URL</th>
                <th>Window Width (px)</th>
                <th>Delay (ms)</th>
                <th>URL</th>
                <th>Window Width (px)</th>
                <th>Delay (ms)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="i : ${#numbers.sequence(0, T(java.lang.Math).max(
                    webReg.checkpointA.flow.compositions.size(), webReg.checkpointB.flow.compositions.size()) - 1)}">
                <th:block th:if="${i < webReg.checkpointA.flow.compositions.size()}">
                    <td th:text="${webReg.checkpointA.flow.compositions[i].resource}"></td>
                    <td th:text="${webReg.checkpointA.flow.compositions[i].widthPx}"></td>
                    <td th:text="${webReg.checkpointA.flow.compositions[i].delayMs}"></td>
                </th:block>
                <th:block th:if="${i >= webReg.checkpointA.flow.compositions.size()}">
                    <td></td>
                    <td></td>
                    <td></td>
                </th:block>
                <th:block th:if="${i < webReg.checkpointB.flow.compositions.size()}">
                    <td th:text="${webReg.checkpointB.flow.compositions[i].resource}"></td>
                    <td th:text="${webReg.checkpointB.flow.compositions[i].widthPx}"></td>
                    <td th:text="${webReg.checkpointB.flow.compositions[i].delayMs}"></td>
                </th:block>
                <th:block th:if="${i >= webReg.checkpointB.flow.compositions.size()}">
                    <td></td>
                    <td></td>
                    <td></td>
                </th:block>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>
</body>
</html>
