<!DOCTYPE html>
<html lang="en"
      th:replace="~{default :: layout(~{:: meta}, ~{:: title}, ~{:: 'th:block'})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebReg - Waffle</title>
</head>
<body>
<th:block>
    <h1>WebReg</h1>
    <div class="u_ai_c u_d-f u_jc-sb">
        <div th:if="${webReg.state.toString()} == 'Ready'">
            <div class="c_Box">
                <span class="c_Status +Ready"></span> Ready
            </div>
        </div>
        <div th:if="${webReg.state.toString()} == 'Started'">
            <div class="c_Box">
                <span class="c_Status +Started"></span> Started
            </div>
        </div>
        <div th:if="${webReg.state.toString()} == 'Completed'">
            <div class="c_Box">
                <span class="c_Status +Completed"></span> Completed
            </div>
        </div>
        <div th:if="${webReg.state.toString()} == 'Failed'">
            <div class="c_Box">
                <span class="c_Status +Failed"></span> Failed
            </div>
        </div>
        <div th:if="${webReg.state.toString()} == 'Completed'">
            <a class="c_Button"
               th:href="@{/WebReg/{id}/Result(id=${webReg.id})}">Download</a>
        </div>
    </div>
    <div class="c_Table">
        <table>
            <thead>
            <tr>
                <th style="width: 50%;">Expected URL</th>
                <th style="width: 50%;">Actual URL</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="case : ${webReg.cases}">
                <td>
                    <p th:text="${case.expected}"></p>
                </td>
                <td>
                    <p th:text="${case.actual}"></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>
</body>
</html>
