<!DOCTYPE html>
<html lang="en"
      th:replace="~{default :: layout(~{:: head/content()}, ~{:: body/content()})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebReg - Waffle</title>
    <link rel="stylesheet"
          th:href="@{/Stylesheets/Core.css}">
    <script th:src="@{/Scripts/vue.global.prod.js}"></script>
    <script th:inline="javascript">
        window.addEventListener("DOMContentLoaded", () => {
            Vue.createApp({
                data() {
                    return {
                        form: [[${quickstartForm}]],
                    };
                },

                methods: {
                    update(key) {
                        const attrs = [
                            "resource",
                            "widthPx",
                            "heightPx",
                            "delayMs",
                        ];

                        const some = (composition) => {
                            return attrs.some(attr => composition[attr] !== "");
                        };

                        const row = () => {
                            return Object.fromEntries([["key", Math.random()], ...attrs.map(attr => [attr, ""])]);
                        };

                        this.form.checkpointA.forEach((composition) => {
                            composition.key ||= Math.random();
                        });

                        this.form.checkpointB.forEach((composition) => {
                            composition.key ||= Math.random();
                        });

                        const hold = [];

                        this.form.checkpointA.forEach((composition, idx) => {
                            if (composition.key === key || some(composition)) {
                                hold.push(idx);
                            }
                        });

                        this.form.checkpointB.forEach((composition, idx) => {
                            if (composition.key === key || some(composition)) {
                                hold.push(idx);
                            }
                        });

                        this.form.checkpointA = this.form.checkpointA.filter((_, idx) => {
                            return hold.includes(idx);
                        });

                        this.form.checkpointB = this.form.checkpointB.filter((_, idx) => {
                            return hold.includes(idx);
                        });

                        if (this.form.checkpointA.length === 0 || some(this.form.checkpointA.at(-1))) {
                            this.form.checkpointA.push(row());
                        }

                        if (this.form.checkpointB.length === 0 || some(this.form.checkpointB.at(-1))) {
                            this.form.checkpointB.push(row());
                        }

                        while (this.form.checkpointA.length < this.form.checkpointB.length) {
                            this.form.checkpointA.push(row());
                        }

                        while (this.form.checkpointB.length < this.form.checkpointA.length) {
                            this.form.checkpointB.push(row());
                        }
                    },
                },

                created() {
                    this.update(null);
                },
            }).mount("body");
        });
    </script>
</head>
<body>
<div class="u_mt-2.0">
    <h1>WebReg</h1>
</div>
<form class="u_mt-1.6"
      method="post"
      th:action="@{/WebReg/Quickstart}">
    <div class="u_d-f u_mt-1.6"
         v-bind:key="composition.key"
         v-for="(composition, idx) in form.checkpointA">
        <div class="c_pane u_w-50.0%">
            <div class="c_unit">
                <div class="c_unit_subject">
                    <label class="c_label"
                           v-bind:for="form.checkpointA[idx].key + 'resource'">URL</label>
                    <input class="c_input"
                           pattern="https?://.+"
                           type="text"
                           v-bind:id="form.checkpointA[idx].key + 'resource'"
                           v-bind:name="idx === 0 || idx < form.checkpointA.length - 1 ? 'checkpointA[' + idx + '].resource' : ''"
                           v-bind:required="idx === 0 || idx < form.checkpointA.length - 1"
                           v-model="form.checkpointA[idx].resource"
                           v-on:focus="update(form.checkpointA[idx].key)"
                           v-on:input="update(form.checkpointA[idx].key)">
                </div>
                <div class="c_unit_attribute">
                    <label class="c_label"
                           v-bind:for="form.checkpointA[idx].key + 'widthPx'">Window Width (px)</label>
                    <input class="c_input"
                           max="4000"
                           min="100"
                           type="number"
                           v-bind:id="form.checkpointA[idx].key + 'widthPx'"
                           v-bind:name="idx === 0 || idx < form.checkpointA.length - 1 ? 'checkpointA[' + idx + '].widthPx' : ''"
                           v-bind:required="idx === 0 || idx < form.checkpointA.length - 1"
                           v-model="form.checkpointA[idx].widthPx"
                           v-on:focus="update(form.checkpointA[idx].key)"
                           v-on:input="update(form.checkpointA[idx].key)">
                </div>
                <div class="c_unit_attribute">
                    <label class="c_label"
                           v-bind:for="form.checkpointA[idx].key + 'heightPx'">Window Height (px)</label>
                    <input class="c_input"
                           max="4000"
                           min="100"
                           type="number"
                           v-bind:id="form.checkpointA[idx].key + 'heightPx'"
                           v-bind:name="idx === 0 || idx < form.checkpointA.length - 1 ? 'checkpointA[' + idx + '].heightPx' : ''"
                           v-bind:required="idx === 0 || idx < form.checkpointA.length - 1"
                           v-model="form.checkpointA[idx].heightPx"
                           v-on:focus="update(form.checkpointA[idx].key)"
                           v-on:input="update(form.checkpointA[idx].key)">
                </div>
                <div class="c_unit_attribute">
                    <label class="c_label"
                           v-bind:for="form.checkpointA[idx].key + 'delayMs'">Delay (ms)</label>
                    <input class="c_input"
                           max="60000"
                           min="0"
                           type="number"
                           v-bind:id="form.checkpointA[idx].key + 'delayMs'"
                           v-bind:name="idx === 0 || idx < form.checkpointA.length - 1 ? 'checkpointA[' + idx + '].delayMs' : ''"
                           v-bind:required="idx === 0 || idx < form.checkpointA.length - 1"
                           v-model="form.checkpointA[idx].delayMs"
                           v-on:focus="update(form.checkpointA[idx].key)"
                           v-on:input="update(form.checkpointA[idx].key)">
                </div>
            </div>
        </div>
        <div class="c_pane u_w-50.0%">
            <div class="c_unit">
                <div class="c_unit_subject">
                    <label class="c_label"
                           v-bind:for="form.checkpointB[idx].key + 'resource'">URL</label>
                    <input class="c_input"
                           pattern="https?://.+"
                           type="text"
                           v-bind:id="form.checkpointB[idx].key + 'resource'"
                           v-bind:name="idx === 0 || idx < form.checkpointB.length - 1 ? 'checkpointB[' + idx + '].resource' : ''"
                           v-bind:required="idx === 0 || idx < form.checkpointB.length - 1"
                           v-model="form.checkpointB[idx].resource"
                           v-on:focus="update(form.checkpointB[idx].key)"
                           v-on:input="update(form.checkpointB[idx].key)">
                </div>
                <div class="c_unit_attribute">
                    <label class="c_label"
                           v-bind:for="form.checkpointB[idx].key + 'widthPx'">Window Width (px)</label>
                    <input class="c_input"
                           max="4000"
                           min="100"
                           type="number"
                           v-bind:id="form.checkpointB[idx].key + 'widthPx'"
                           v-bind:name="idx === 0 || idx < form.checkpointB.length - 1 ? 'checkpointB[' + idx + '].widthPx' : ''"
                           v-bind:required="idx === 0 || idx < form.checkpointB.length - 1"
                           v-model="form.checkpointB[idx].widthPx"
                           v-on:focus="update(form.checkpointB[idx].key)"
                           v-on:input="update(form.checkpointB[idx].key)">
                </div>
                <div class="c_unit_attribute">
                    <label class="c_label"
                           v-bind:for="form.checkpointB[idx].key + 'heightPx'">Window Height (px)</label>
                    <input class="c_input"
                           max="4000"
                           min="100"
                           type="number"
                           v-bind:id="form.checkpointB[idx].key + 'heightPx'"
                           v-bind:name="idx === 0 || idx < form.checkpointB.length - 1 ? 'checkpointB[' + idx + '].heightPx' : ''"
                           v-bind:required="idx === 0 || idx < form.checkpointB.length - 1"
                           v-model="form.checkpointB[idx].heightPx"
                           v-on:focus="update(form.checkpointB[idx].key)"
                           v-on:input="update(form.checkpointB[idx].key)">
                </div>
                <div class="c_unit_attribute">
                    <label class="c_label"
                           v-bind:for="form.checkpointB[idx].key + 'delayMs'">Delay (ms)</label>
                    <input class="c_input"
                           max="60000"
                           min="0"
                           type="number"
                           v-bind:id="form.checkpointB[idx].key + 'delayMs'"
                           v-bind:name="idx === 0 || idx < form.checkpointB.length - 1 ? 'checkpointB[' + idx + '].delayMs' : ''"
                           v-bind:required="idx === 0 || idx < form.checkpointB.length - 1"
                           v-model="form.checkpointB[idx].delayMs"
                           v-on:focus="update(form.checkpointB[idx].key)"
                           v-on:input="update(form.checkpointB[idx].key)">
                </div>
            </div>
        </div>
    </div>
    <div class="u_pb-0.4 u_pr-1.0 u_pt-0.4 u_ta-r">
        <button class="c_button"
                type="submit"
                v-on:click="update(null)">Submit
        </button>
    </div>
</form>
</body>
</html>
