<!DOCTYPE html>
<html lang="en"
      th:fragment="layout(meta, content)"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="${meta}">
    <meta charset="UTF-8">
    <title>Waffle</title>
    <link rel="stylesheet"
          th:href="@{/Stylesheets/Core.css}">
</head>
<body>
<header class="c_nav">
    <h1 class="c_nav_header">
        <a class="c_nav_link"
           th:href="@{/}">Waffle</a>
    </h1>
</header>
<main class="c_main"
      th:insert="${content}">
</main>
</body>
</html>
